* {
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-align: center;
}

body{
	background-color: beige;
}

div header p{
	
	top: 12vw;
}

header {
	position: absolute;
	background-color:#e1dab4;
	width: 100%;
}

header img{
	width: 80%;
	background: beige;
	float: right;
}

#headtext{
	position: absolute;
	top: 12vw;
	left: 2vw;
	width: 20%;
	font-size: 2vw;
	color: #726f62;
}

ul{
	width: 100%;
	float:right;
	background-color: #e1dab4;
	list-style: none;

}

ul a{
	width: 10%;
	font-size: 2vw;	
	font-weight: bold;
	color: #726f62;
	background-color: #e1b812;
	float: right;
	padding: 1vw;
	
}

ul a:hover  {
	background-color: beige;
	

}

p{
	position: absolute;
	top: 35vw;
	text-align: left;
	left: 10vw;
	right: 10vw;
}

#p1{
	font-size: 3vw;
}
.container{
	
	position: relative;
	top: 31vw;
	width: 100%;
	height: 100vw;
	display: block;
	background-color: #e1dab4;	

}

 h1{
 	position: absolute;
 	font-size: 8vw;
 	top: 10vw;
 	width: 79vw;
 	height:  30vw;
 	

  
}

.picatext{
	position: relative;
	background-color: beige;
	display: block;
	left: 10%;
	right: 10%;
	height: 100vw;
	width: 80%;
	
}

#first-img{
	
	position: relative;
	top: 33vw;
	width: 50%;
	height: 20%;
}

figcaption{
	position: relative;
	top: 33vw;
	font-weight: bold;
	font-size: 2vw;
}

#fig2 {
	top: 55vw;
	right: 23vw;
}

#fig3 {
	top: 50.2vw;
	left: 21vw;
}

#second-img{
	
	position: absolute;
	left: 0;
	top: 63vw;
	width: 47%;
	height: 20%;
	padding-left: 1vw;
}

#third-img{
	
	position: absolute;
	right: 0;
	top: 63vw;
	width: 47%;
	height: 20%;
	padding-right: 1vw;
}
footer{
	top: 24vw;
	background-color: #e1dab4;
	position: relative;


}

footer img{
	top: 0vw;
	position: relative;
	background-color: beige;
	padding-top: 1vw;
	
	width: 30%;
}







	




